name: Test
"on":
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 10
          - 12
          - 14
    steps:
      - uses: actions/checkout@v2
      - name: "Use Node.js ${{ matrix.node_version }}"
        uses: actions/setup-node@v2
        with:
          node-version: "${{ matrix.node_version }}"
      - run: npm ci
      - run: npm test

  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run test:typescript
      - run: npm run lint
